<form method="post" action="/new">
  <label for="username">
    <input type="text" id="username" name="username" placeholder="username" />
  </label>
    <textarea
      type="text-area"
      id="message"
      name="message"
      placeholder="oin"
    >
    </textarea>
  <label for="date">
    <input type="date" id="date" name="date" />
  </label>
  <button type="submit">Send Message</button>
</form>
